<div class="row">
  <div class="col-xs-12">
      <h3></h3>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group has-feedback" [class.has-success]="recipeForm.controls['name'].valid" [class.has-error]="!recipeForm.controls['name'].valid && !recipeForm.controls['name'].pristine">
            <label class="control-label" for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="recipeForm.controls['name'].valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!recipeForm.controls['name'].valid && !recipeForm.controls['name'].pristine"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group has-feedback" [class.has-success]="recipeForm.controls['imageUrl'].valid" [class.has-error]="!recipeForm.controls['imageUrl'].valid && !recipeForm.controls['imageUrl'].pristine">
            <label class="control-label" for="image-url">Image Url</label>
            <div class="input-group">
              <span class="glyphicon glyphicon-picture input-group-addon"></span>
              <input type="url" id="image-url" class="form-control" formControlName="imageUrl" #imageUrl placeholder="http://www.example.com/image.jpg">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="recipeForm.controls['imageUrl'].valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!recipeForm.controls['imageUrl'].valid && !recipeForm.controls['imageUrl'].pristine"></span>
            <span *ngIf="!recipeForm.controls['imageUrl'].valid" id="helpBlock" class="help-block bg-warning">
                Full image path URL.  Must be a PNG, JPG, JPEG, or GIF.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- Img Preview -->
          <div class="img img-thumbnail">
            <img [src]="imageUrl.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group has-feedback" [class.has-success]="recipeForm.controls['description'].valid" [class.has-error]="!recipeForm.controls['description'].valid && !recipeForm.controls['description'].pristine">
            <label class="control-label" for="content">Description</label>
            <textarea type="text" id="content" rows="6" class="form-control" formControlName="description"></textarea>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="recipeForm.controls['description'].valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!recipeForm.controls['description'].valid && !recipeForm.controls['description'].pristine"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <label for="content">Ingredients</label>
        <div class="col-xs-12">
          <ul class="list-group" formArrayName="ingredients">
            <label for="content">Edit Ingredients</label>
            <div class="row" *ngFor="let ingredient of recipeForm.controls['ingredients'].controls; let i = index">
              <div formGroupName="{{i}}">
                <div class="col-sm-5">
                  <div class="form-group has-feedback" [class.has-success]="ingredient.controls['name'].valid" [class.has-error]="!ingredient.controls['name'].valid && !ingredient.controls['name'].pristine">
                    <input type="text" class="form-control" formControlName="name">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!ingredient.controls['name'].valid && !ingredient.controls['name'].pristine"></span>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="form-group has-feedback" [class.has-success]="ingredient.controls['amount'].valid" [class.has-error]="!ingredient.controls['amount'].valid && !ingredient.controls['amount'].pristine">
                    <input type="text" class="form-control" formControlName="amount">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!ingredient.controls['amount'].valid && !ingredient.controls['amount'].pristine"></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group has-feedback" [class.has-success]="ingredient.controls['units'].valid" [class.has-error]="!ingredient.controls['units'].valid && !ingredient.controls['units'].pristine">
                    <input type="text" class="form-control" formControlName="units">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!ingredient.controls['units'].valid && !ingredient.controls['units'].pristine"></span>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger" (click)="onRemoveIngredient(i)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </div>

              <br><br>
            </div>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <label for="content">Add Ingredients</label>
    <div class="form-group row">
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="Ingredient" #ingName>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control" placeholder="#" #ingAmount>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Units" #ingUnits>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="onAddIngredient(ingName.value, ingAmount.value, ingUnits.value); ingName.value=''; ingAmount.value=''; ingUnits.value='';">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
