<h1>Recipe Details</h1>
<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imageUrl}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{selectedRecipe?.name}}</h2>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addItemsToShoppingList()">To Shopping List</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
    <ul class="list-group ingredient-list">
      <li class="list-group-item ingredient" *ngFor="let item of selectedRecipe?.ingredients">{{item.name}} ({{item.amount}} {{item?.units}})</li>
    </ul>
  </div>
</div>
