<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-lg-6">
    <!-- Listens for the cleared event from the shopping-list-add.  Then runs the onCleared() method -->
    <rb-shopping-list-add [item]="selectedItem" (cleared)="onCleared()"></rb-shopping-list-add>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" style="cursor: pointer" *ngFor="let item of items" (click)="onSelectItem(item)" [@flyInOut]>{{item?.name}} ({{item?.amount}} {{item?.units}})</li>
    </ul>
  </div>
</div>
